.progressContainer {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 20px;
  max-width: 600px;
  margin: auto;
}

.step {
  text-align: center;
  position: relative;
  flex: 1;
}

.step:not(:last-child)::after {
  content: '';
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(0%);
  height: 4px;
  width: 100%;
  background-color: #ddd;
  z-index: -1000;
}

.step.active:not(:last-child)::after {
  background-color: #f8d66d;
}

.circle {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin: auto;
  background-color: #ddd;
  border-radius: 50%;
  font-weight: bold;
  color: #fff;
  z-index: 1;
}

.step.active .circle {
  background-color: #f8d66d;
}

.label {
  margin-top: 8px;
  font-size: 14px;
  font-weight: bolder;
}
