.listBike {
  border: 10px solid #f8d66d;
  border-radius: 20px;
  max-height: 560px; /* hoặc height: 300px */
  overflow-y: auto;
  width: 724px;
}

.notfound {
  border: 10px solid #f8d66d;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  margin-bottom: 20px;
}

.rowtitle{
  display: flex;
  justify-content: space-around;
  margin: 10px;
  border: 2px solid #8cd47e;
  border-radius: 20px;
  width: 700px;
}

.rowtitle h5{
  width: 100px;
}

.card {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 2px solid #8cd47e;
  border-radius: 20px;
  /* padding: 10px; */
  margin: 10px;
  width: 700px;
}

.card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.card[data-clicked='true'] {
  border: 5px solid #8cd47e;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.subcard {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100px;
  width: 100px;
  justify-content: center;
  align-self: center;
}

.card input[type='checkbox'] {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.card .imgBike {
  width: 100px;
  height: 100px;
}

.title {
  font-weight: bolder;
}

.location {
  display: flex;
  gap: 10px;
}

.button {
  text-align: center;
  margin-top: 10px;
}

/* ----------------- */

.section {
  color: #000000;
  border: 5px solid #8cd47e;
  border-radius: 10px;
  background-color: #ffffff;
  padding: 10px;
  width: 500px;
  height: auto;
}

.headline {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.infor {
  display: flex;
  flex-direction: column;
  justify-content: right;
  padding: 5px 0;
  gap: 10px;
  background-color: #fff3cc;
  padding: 20px;
}

.inforItem {
  display: flex;
  gap: 30px;
}

.inforItem > div {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px; /* khoảng cách giữa các cặp */
}

.addressWrapper {
  width: 670px;
}

label {
  margin-bottom: 4px;
  font-weight: 500;
  width: 200px;
  border-radius: 20px;
}

.inforItem input{
  background-color:  #d9d9d9;
  border: none;
  border-radius: 20px;
  padding: 10px;
}

.inforItem input[type='number']::-webkit-outer-spin-button,
.inforItem input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.img img {
  width: 400px;
  border-radius: 20px;
  justify-content: center;
}

.pickdrop {
  display: flex;
  gap: 50px;
  justify-content: space-between;
}

.pickdrop h4 {
  margin: 0;
  color: #a6a6a6;
}

.pickdrop p {
  margin: 5px 0;
  font-weight: bolder;
}

.type {
  color: #a6a6a6;
  font-weight: bolder;
}

.bin:hover {
  background-color: #f8d66d;
  border-radius: 50%;
  padding: 5px;
}
